     <div class="page-footer"></div> <!-- for sticky footer purposes -->
    </div>

    <footer id="footer">
      <div class="footer-content">
        <div class="about">
          <h3>About</h3>
          <p>The High Visibility Project is collecting the stories of women in technology. Whether you are a seasoned professional or a student just starting out, you can directly contribute your experiences, observations and ideas to the larger conversation about tech diversity.</p>
          <p><a href="{{ site.baseurl }}/about/">Learn more about the project <i class="fa fa-angle-double-right"></i></a></p>
        </div>
        <div class="submit">
          <h3>Sumbit</h3>
          <p>Want to add your story? We want to hear it! Upload a video to an external site like YouTube or Vimeo, send us the link and any other background info you like in a pull request, and it'll become part of the collection.</p>
          <p><a href="{{ site.baseurl }}/submit/">Learn more about how to submit <i class="fa fa-angle-double-right"></i></a></p>
        </div>
        <div class="connect">
          <h3>Connect</h3>
          <p>Want more information or want to spread the word to others?</p>
          <p>Ask questions, give us feedback and follow us for updates.</p>
          <ul>
            <li><a class="reference" href="http://twitter.com/hivisproject"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a class="reference" href="http://www.facebook.com/hivisproject"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a class="reference" href="http://github.com/jenmyers/highvisibilityproject"><i class="fa fa-github fa-2x"></i></a></li>
            <li><a class="reference" href="mailto:info@highvisibility.org"><i class="fa fa-envelope-o fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="assets/js/main.js"></script>

  </body>
</html>