<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.title }} {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.css">

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->

    <script type="text/javascript" src="//use.typekit.net/vgk1xzl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <div class="menu-wrapper">
      <div class="menu">
        <i class="fa fa-bars fa-2x menu-icon"></i>
        <ul class="menu-items">
          <li><a href="{{ site.baseurl }}/about/">About</a></li>
          <li><a href="{{ site.baseurl }}/submit/">Submit</a></li>
          <li><a href="#footer">Connect</a></li>
        </ul>
      </div>
    </div>

    <div class="page">
      <header>
        <img src="{{ site.baseurl }}/assets/images/cloud.png" />
        <h1><a href="/">{{ site.title }}</a></h1>
        <p>Collecting and surfacing the stories of women in technology.</p>
      </header>